*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

q::before,
q::after {
  content: none;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
body {
  font-family: "Metropolis", sans-serif;
  color: #8989a2;
  font-weight: 500;
}

[class*=__container] {
  max-width: 61.875em;
  padding-inline: 0.9375em;
  margin: 0 auto;
}

.icon {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}

.arrow {
  width: 0.625rem;
  height: 0.375rem;
  display: inline-block;
  stroke: #020202;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (any-hover: hover) {
  .menu-header__link:hover .arrow {
    stroke: #722ed1;
  }
}
@media (max-width: 47.99875em) {
  .arrow {
    width: 1.25rem;
    height: 0.75rem;
  }
}

._lock {
  overflow: hidden;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  position: sticky;
  z-index: 50;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
}
.header__container {
  min-height: 4.5rem;
  padding-top: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media (max-width: 47.99875em) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3rem;
          flex: 0 0 3rem;
  z-index: 3;
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 47.99875em) {
  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}
.header__link {
  padding: 0.75rem 1.5rem;
  border: 0.0625rem solid #722ed1;
  color: #722ed1;
  border-radius: 1.4375rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
@media (any-hover: hover) {
  .header__link:hover {
    color: #ffffff;
    background-color: #722ed1;
  }
}

.menu-header {
  position: relative;
  z-index: 2;
}
@media (max-width: 47.99875em) {
  .menu-header__body {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 100%;
    background: #ffffff;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    padding: 5.75rem 3.125rem 1.25rem 1.25rem;
    -webkit-box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.25);
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .burger-open .menu-header .menu-header__body {
    left: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 47.99875em) {
  .menu-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.menu-header__item {
  position: relative;
}
.menu-header__link {
  text-transform: capitalize;
  color: #000000;
  font-size: 0.875rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .menu-header__link:hover {
    color: #722ed1;
  }
}
@media (max-width: 47.99875em) {
  .menu-header__link {
    font-size: 1.75rem;
  }
}
.menu-header__case {
  max-height: 0;
  position: static;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (min-width: 48em) {
  .menu-header__case {
    padding-top: 0.625rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    overflow: visible;
    max-height: none;
  }
}
@media (min-width: 48em) and (any-hover: hover) {
  .menu-header__link:hover ~ .menu-header__case, .menu-header__case:hover {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
.menu-sub-list {
  border-radius: 0.5rem;
  padding: 0.3125rem 0.9375rem 0.3125rem 0.3125rem;
  -webkit-box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
}
.menu-sub-list__link {
  text-transform: capitalize;
  color: #000000;
  font-size: 0.875rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (max-width: 47.99875em) {
  .menu-sub-list__link {
    font-size: 1.25rem;
  }
}
@media (any-hover: hover) {
  .menu-sub-list__link:hover {
    color: #722ed1;
  }
}

.burger-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .burger-menu {
    display: block;
    position: relative;
    z-index: 3;
    width: 1.875rem;
    height: 1.125rem;
  }
  .burger-menu::after, .burger-menu::before,
  .burger-menu span {
    content: "";
    width: 100%;
    height: 0.125rem;
    position: absolute;
    left: 0;
    background: #000000;
    border-radius: 0.5rem;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .burger-menu::before {
    top: 0.125rem;
  }
  .burger-menu span {
    top: calc(50% + 0.0625rem);
  }
  .burger-menu::after {
    top: 100%;
  }
  .burger-open .burger-menu::before {
    top: calc(50% + 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger-open .burger-menu span {
    width: 0;
  }
  .burger-open .burger-menu::after {
    top: calc(50% + 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.hero {
  position: relative;
}
.hero__container {
  padding-bottom: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.hero__container::before {
  content: "";
  z-index: -1;
  -webkit-transform: translateY(-2.8125rem) skewY(-5deg);
      -ms-transform: translateY(-2.8125rem) skewY(-5deg);
          transform: translateY(-2.8125rem) skewY(-5deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(226, 241, 255)));
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(226, 241, 255) 100%);
}
@media (max-width: 47.99875em) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }
}
.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero__sub-title {
  color: #722ed1;
  line-height: 1.5; /* 24/16 */
}
.hero__sub-title a {
  text-decoration: underline;
}
.hero__sub-title svg {
  width: 1rem;
  height: 1rem;
}
.hero__title {
  font-size: 3rem;
  color: #000000;
  font-weight: 700;
}
@media (max-width: 34.375em) {
  .hero__title {
    font-size: 2rem;
  }
}
.hero__text {
  line-height: 1.5; /*24/16*/
}
.hero__link {
  padding: 0.75rem 1.5rem;
  background: #722ed1;
  color: #ffffff;
  border-radius: 1.4375rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
@media (any-hover: hover) {
  .hero__link:hover {
    -webkit-box-shadow: 0 0.4375rem 0.9375rem 0 #722ed1;
            box-shadow: 0 0.4375rem 0.9375rem 0 #722ed1;
  }
}
.hero__link--invert {
  color: #722ed1;
  background-color: #ffffff;
}
.hero__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.hero__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 472/370;
}

.sub-title {
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  background: #f7f1ff;
  color: #722ed1;
  border-radius: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}
.sub-title svg {
  width: 1.625rem;
  height: 1.0625rem;
}

.title {
  font-size: 2rem;
  color: #160637;
  line-height: 1.25; /* 40/32 */
  font-weight: 700;
  text-align: center;
}

.text {
  text-align: center;
  line-height: 1.5; /* 24/16 */
  max-width: 42rem;
}

.why {
  padding-top: 6.25rem;
  padding-bottom: 3.75rem;
}
@media (max-width: 63.99875em) {
  .why {
    padding-top: 5rem;
  }
}
@media (max-width: 47.99875em) {
  .why {
    padding-top: 3.75rem;
  }
}
@media (max-width: 31.25em) {
  .why {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
.why__container > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
.why__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.5rem;
}
.why__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}
@media (max-width: 41.875em) {
  .why__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem 2rem;
  }
}
.why__card {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
}
@media (max-width: 47.99875em) {
  .why__card {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}
@media (max-width: 31.25em) {
  .why__card {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.card-why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1rem;
}
.card-why__icon {
  padding: 0.6875rem;
  background: #e6f7ff;
  border-radius: 50%;
}
.card-why__icon svg {
  width: 1.0625rem;
  height: 1.0625rem;
}
.card-why__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  color: #160637;
  font-weight: 700;
  line-height: 1.5; /* 24/16 */
}
.card-why__text {
  text-align: center;
  line-height: 1.5; /* 24/16 */
}

.product-team {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
@media (max-width: 31.25em) {
  .product-team {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
.product-team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}
@media (max-width: 47.99875em) {
  .product-team__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.product-team__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 27.125rem;
          flex: 0 1 27.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5rem;
}
@media (max-width: 47.99875em) {
  .product-team__content {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
.product-team__title {
  text-align: start;
}
.product-team__text {
  text-align: start;
}
.product-team__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 412/435;
}

.engineering-team {
  padding-top: 3.75rem;
  padding-bottom: 2.5rem;
}
@media (max-width: 31.25em) {
  .engineering-team {
    padding-top: 1.875rem;
    padding-bottom: 1.25rem;
  }
}
.engineering-team__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  min-height: 25.875rem;
}
@media (max-width: 47.99875em) {
  .engineering-team__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 60em) {
  .engineering-team__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.engineering-team__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 29.9375rem;
          flex: 0 0 29.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5rem;
}
@media (max-width: 60em) {
  .engineering-team__content {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
.engineering-team__title {
  text-align: start;
}
.engineering-team__text {
  text-align: start;
}
.engineering-team__image {
  z-index: -1;
  position: absolute;
  top: 0;
  max-width: 42.75rem;
  max-height: 25.875rem;
}
@media (min-width: 90em) {
  .engineering-team__image {
    right: -12.625rem;
  }
}
@media (min-width: 60em) and (max-width: 90em) {
  @supports (right: clamp( -12.625rem , 25.2500001875rem  +  -42.0833335417vw , 0.0000000625rem )) {
    .engineering-team__image {
      right: clamp( -12.625rem , 25.2500001875rem  +  -42.0833335417vw , 0.0000000625rem );
    }
  }
  @supports not (right: clamp( -12.625rem , 25.2500001875rem  +  -42.0833335417vw , 0.0000000625rem )) {
    .engineering-team__image {
      right: calc(0.0000000625rem + -12.6250000625 * (100vw - 60rem) / 30);
    }
  }
}
@media (max-width: 60em) {
  .engineering-team__image {
    right: 0.0000000625rem;
  }
}
@media (max-width: 60em) {
  .engineering-team__image {
    position: static;
  }
}
.engineering-team__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 684/414;
}

.testimonial {
  position: relative;
  padding-top: 3.75rem;
  padding-bottom: 6.25rem;
}
.testimonial__container::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 95%;
  top: 0;
  left: 0;
  -webkit-transform: skewy(-5deg);
      -ms-transform: skewy(-5deg);
          transform: skewy(-5deg);
  background: rgb(249, 240, 255);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 248, 255)), to(rgb(226, 241, 255)));
  background: linear-gradient(180deg, rgb(252, 248, 255) 0%, rgb(226, 241, 255) 100%);
}
.testimonial__case {
  overflow: hidden;
}
.testimonial__slider {
  padding-bottom: 2rem;
}
.testimonial__pagination {
  position: static;
  padding-top: 2rem;
  border-top: 0.0625rem solid #DEC9FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}
.testimonial__item {
  height: 3.125rem;
  width: 9.375rem;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 63.99875em) {
  .testimonial__item {
    width: 3.125rem;
    overflow: hidden;
  }
}
@media (max-width: 28.125em) {
  .testimonial__item {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.testimonial__item svg {
  height: 3.125rem;
  width: 9.375rem;
  fill: #8989A2;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 28.125em) {
  .testimonial__item svg {
    width: 7.5rem;
    height: 2.5rem;
  }
}
.testimonial__item .svg-text {
  fill: #101419;
}
.testimonial__item.active svg {
  fill: #722ed1;
}
.testimonial__item.active svg.svg-text {
  fill: #101419;
}

.slide-testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slide-testimonial__quote {
  color: #160637;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.3333; /* 32/24 */
}
.slide-testimonial__image {
  max-width: 5rem;
  max-height: 5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
}
.slide-testimonial__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}
.slide-testimonial__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slide-testimonial__post, .slide-testimonial__name {
  text-align: center;
  color: #000000;
  line-height: 1.5; /* 24/16 */
  font-weight: 700;
}

.sign-up {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
@media (max-width: 63.99875em) {
  .sign-up {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media (max-width: 47.99875em) {
  .sign-up {
    padding-top: 3.75rem;
    padding-bottom: 5rem;
  }
}
@media (max-width: 31.25em) {
  .sign-up {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
.sign-up__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}
@media (max-width: 52.5em) {
  .sign-up__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.sign-up__content {
  padding-right: 2.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.sign-up__content > *:not(:last-child) {
  margin-bottom: 2.1875rem;
}
@media (max-width: 52.5em) {
  .sign-up__content {
    padding-right: 0rem;
  }
}
.sign-up__title {
  font-size: 2rem;
  color: #160637;
  line-height: 1.25; /* 40/32 */
  font-weight: 700;
}
@media (max-width: 52.5em) {
  .sign-up__title {
    text-align: center;
  }
}
.sign-up__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  line-height: 1.5; /* 24/16 */
}
.sign-up__border > span {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.sign-up__border:not(:last-child) {
  margin-bottom: 3.125rem;
}
.sign-up__border::before, .sign-up__border::after {
  content: "";
  width: 100%;
  height: 0.0625rem;
  background: #8989a2;
}
.sign-up__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media (min-width: 61.875em) {
  .sign-up__items {
    gap: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 61.875em) {
  @supports (gap: clamp( 0.625rem , -0.8675373134rem  +  7.4626865672vw , 3.75rem )) {
    .sign-up__items {
      gap: clamp( 0.625rem , -0.8675373134rem  +  7.4626865672vw , 3.75rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , -0.8675373134rem  +  7.4626865672vw , 3.75rem )) {
    .sign-up__items {
      gap: calc(0.625rem + 3.125 * (100vw - 20rem) / 41.875);
    }
  }
}
@media (max-width: 20em) {
  .sign-up__items {
    gap: 0.625rem;
  }
}
@media (max-width: 52.5em) {
  .sign-up__items {
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 29.375em) {
  .sign-up__items {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
.sign-up__case {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 1.625rem 1.75rem;
  background: #F9F0FF;
}
@media (max-width: 28.125em) {
  .sign-up__case {
    padding: 0.625rem;
  }
}
.sign-up__form {
  margin-top: -28px;
}

.item-sign-up__image svg {
  width: 9.375rem;
  height: 4.375rem;
}

.from-sign-up {
  -webkit-box-shadow: 0.25rem 0.25rem 0.75rem 0 rgba(137, 137, 162, 0.12);
          box-shadow: 0.25rem 0.25rem 0.75rem 0 rgba(137, 137, 162, 0.12);
  border-radius: 0.5rem;
  background: #ffffff;
  padding: 2rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}
.from-sign-up__fieldset {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 52.5em) {
  .from-sign-up__fieldset {
    max-width: 26.75rem;
  }
}
@media (max-width: 28.125em) {
  .from-sign-up {
    padding: 0.625rem;
  }
}
.from-sign-up__title {
  font-size: 1.5rem;
  line-height: 1.33; /* 32/24 */
  color: #160637;
  font-weight: 700;
  text-align: center;
}
.from-sign-up__btn {
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.75rem;
  color: #ffffff;
  line-height: 1.5; /* 24/16 */
  background: #722ed1;
}
@media (min-width: 52.5em) {
  .from-sign-up__btn {
    padding: 0.75rem;
  }
}
.from-sign-up__input {
  padding: 1rem;
  border: 0.0625rem solid #d9d9d9;
  border-radius: 0.25rem;
}
.from-sign-up__text-border {
  text-transform: uppercase;
}
.from-sign-up__google {
  padding: 0.1875rem 0.625rem;
  -webkit-column-gap: 0.4375rem;
     -moz-column-gap: 0.4375rem;
          column-gap: 0.4375rem;
  background: #4285f4;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.125rem;
  -webkit-box-shadow: 0 0.125rem 0.125rem 0 rgba(66, 133, 244, 0.5);
          box-shadow: 0 0.125rem 0.125rem 0 rgba(66, 133, 244, 0.5);
}
.from-sign-up__google svg {
  width: 2.1875rem;
  height: 2.1875rem;
}
.from-sign-up__login {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
}
.from-sign-up__login a {
  color: #722ed1;
}
.from-sign-up__login::before {
  padding-bottom: 1rem;
  content: "";
  border-top: 0.0625rem solid #8989a2;
  width: 100%;
}

.top-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}
@media (max-width: 28.125em) {
  .top-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.top-footer__content > *:not(:last-child) {
  margin-bottom: 0.875rem;
}
@media (min-width: 55em) {
  .top-footer__content {
    max-width: 13.0625rem;
  }
}
@media (max-width: 54.99875em) {
  .top-footer__content {
    -ms-flex-preferred-size: calc(50% - 0.625rem);
        flex-basis: calc(50% - 0.625rem);
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
}
.top-footer__logo {
  width: 3rem;
  height: 3rem;
}
.top-footer__text {
  color: #160637;
  font-size: 0.75rem;
  line-height: 1.6666; /* 20/12 */
}
.top-footer__text:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media (max-width: 54.99875em) {
  .top-footer__column:last-child {
    -ms-flex-preferred-size: calc(50% - 0.625rem);
        flex-basis: calc(50% - 0.625rem);
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.social-top-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.social-top-header__link svg {
  width: 1rem;
  height: 1rem;
}

.column-top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.column-top-footer__title {
  color: #160637;
  font-weight: 700;
}
@media (max-width: 28.125em) {
  .column-top-footer__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 28.125em) {
  .column-top-footer__panel {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
  }
}
.column-top-footer__list > *:not(:last-child) {
  margin-bottom: 0.625rem;
}
.column-top-footer__link {
  color: #160637;
  font-size: 0.75rem;
  line-height: 1.3333; /* 16/12 */
}
@media (max-width: 28.125em) {
  .column-top-footer__link {
    font-size: 1rem;
  }
}
.column-top-footer__form {
  position: relative;
}
@media (min-width: 55em) {
  .column-top-footer__form {
    max-width: 11.25rem;
  }
}
.column-top-footer__input {
  padding: 0.75rem 1rem;
  -webkit-box-shadow: 0 0.3125rem 0.5625rem 0 rgba(0, 0, 0, 0.051);
          box-shadow: 0 0.3125rem 0.5625rem 0 rgba(0, 0, 0, 0.051);
}
.column-top-footer__btn {
  top: 0.3125rem;
  right: 0.625rem;
  position: absolute;
}
.column-top-footer__btn svg {
  width: 1.875rem;
  height: 1.875rem;
}

.bottom-footer__container {
  padding-top: 1.1875rem;
  padding-bottom: 1.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bottom-footer__copiright {
  color: #160637;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}